@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@theme {
  --color-bg1:#292F36;
  --color-bg2:#1A1E23;

  --color-brand1:#12F7D6;
  --color-brand2:#98FAEC;
  --color-grey:#43454D;
  --color-white:#ffffff;

  --font-ubuntu:"Ubuntu", sans-serif;
  --font-plex:"IBM Plex Mono", monospace;
  --shadow-neon: 0 0 20px rgba(18, 247, 214, 0.3);
}
/*
@layer utilities{
  .bg-brand1{
    background-color: theme(--color-brand1);
  }
  .bg-brand2{
    background-color: theme(--color-brand2);
  }
  .color-brand1{
    color: theme(--color-brand1);
  }
  .color-brand2{
    color: theme(--color-brand2);
  }
  .bg-bg1{
    background-color: theme(--color-bg1);
  }
  .bg-bg2{
    background-color: theme(--color-bg2);
  }
  .bg-grey{
    background-color: theme(--color-grey);
  }
  .font-ubuntu{
    font-family: theme(--font-ubuntu);
  }
  .font-plex{
    font-family: theme(--font-plex);
  }

} */

@layer components{
  .glow-card {
    @apply border-brand1 shadow-neon;
  }
  .bg-text-u{
    @apply font-ubuntu text-[140px] font-normal leading-33.5;
  }
  .btn-u{
    @apply font-normal font-ubuntu text-[20px] leading-6;
  }
  .article {
    @apply font-light text-[16px] leading-8 font-ubuntu;
  }
  .h1-u{
    @apply font-normal text-[64px] leading-18 font-ubuntu;
  }
  .h2-u{
    @apply font-normal text-[32px] leading-9 font-ubuntu;
  }
  .para-u{
    @apply font-light text-[16px] leading-4.5 font-ubuntu;
  }
  .label-u-m{
    @apply font-medium text-[14px] leading-4 font-ubuntu;
  }
  .label-u-l{
    @apply font-light text-[14px] leading-4 font-ubuntu;
  }


  .number-m{
    @apply font-medium text-[48px] leading-15.5 font-plex;
  }
  .h3-m{
    @apply font-medium text-[32px] leading-10.5 font-plex;
  }
  .logo-m{
    @apply font-medium text-[32px] leading-10.5 font-plex;
  }
  .menu-m{
    @apply font-normal text-[24px] leading-8 font-plex;
  }
  .media-m{
    @apply font-normal text-[16px] leading-5 font-plex;
  }
  .para-m{
    @apply font-normal text-[16px] leading-5 font-plex;
  }
  .code-m{
    @apply font-normal text-[14px] leading-4.5 font-plex;
  }
}

@layer base{
  body {
    background-color:theme(--color-bg1);
    color:theme(--color-brand1);
  }


}

